---
  sources:
    my_log_file:
      type: "file"
      read_from: beginning
      ignore_older_secs: 600
      data_dir: "{{ vector_log_dir }}"
      include:
        - "{{ vector_log_dir }}/*.log"
  sinks:
    to_clickhouse:
      type: clickhouse
      inputs:
        - my_log_file
      endpoint: http://84.201.179.27:8123
      database: logs
      table: log_t
      auth:
        strategy: basic
        password: {{ db_pass }}
        user: {{ db_user }}
      date_time_best_effort: true
      skip_unknown_fields: true
      compression: gzip